<h5 class="separator">
  <span class="separator__title">Newsletter</span>
</h5>

<div class="box box--news-letter">
  <form action="https://github.us3.list-manage.com/subscribe/post?u=245806d3391073c9b861bb703&amp;id=88b086673f" method="post" target="_blank">
    <div class="row">
      <div class="column medium-9 large-9">
        <input type="email" name="EMAIL" placeholder="">
      </div>
      <div class="column medium-3 large-3">
        <input type="submit" class="button button--expand" value="SIGN UP">
      </div>
    </div>
  </form>
</div>